@font-face {
  font-family: "Recoleta Regular";
  src: url("../../../pages/fonts/Recoleta-Regular.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/////////////
